{
    "root": true,
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended-requiring-type-checking", "plugin:svelte/recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "project": "./tsconfig.json",
        "extraFileExtensions": [".svelte"]
    },
    "settings": {
        "svelte": {
            "ignoreWarnings": [
                "svelte/no-at-html-tags"
            ]
        }
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "camelcase": "error",
        "semi": ["error", "never"],
        "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true }],
        "no-console": "error"
    },
    "env": {
        "browser": true,
        "es2017": true,
        "node": true
    },
    "overrides": [
        {
            "files": ["*.svelte"],
            "parser": "svelte-eslint-parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser"
            }
        }
    ]
}
